$fontInter: Inter, Arial, sans-serif;
$font: 'Times New Roman', serif;


//======================
$maxWidth: 1160px;
$maxWidthWindow: 1440px;

$phone: 450px;
$tablet: 760px;
$desk: 1024px;

//======================
$color: #fff;
$black: #322E45;
$orange: #E94921;
$purple: #252E79;
$purple-l: #2D3686;
$blue: #B7C2F9;