.scroll-top {
    display: none;
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 1%;

    @include minMD {
        bottom: 5%;
        right: 50px;
    }
}
.scroll-top_active {
    display: block;
}
.scroll-top__btn {
    color: #fff;
    width: 50px;
    height: 50px;
    background: $orange;
    border-radius: 50%;
    transform: rotate(90deg);
    text-align: center;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px rgba($color: $orange, $alpha: .5);
        border: 1px solid rgba($color: #ccc, $alpha: .5);
    }
}