.promo {
    width: 100%;
    max-width: $maxWidthWindow;
    margin: 0 auto;
    background: $background;

    @include minLG {
        background: url(/images/blue-bg.png) center/cover no-repeat, $background;
    }
    
}
.promo__wrapper {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 30px 10px;

    @include minVal(1140px) {
        padding: 0 10px 20px 10px;
    }
}
.title {
    @include font($fontInter, 800);
    @include font-size(2.2, 16);
    text-align: center;
    color: $purple;
    max-width: 500px;
    max-height: 100px;
    margin: 0 auto;
    span {
        font: inherit;
        color: $orange;
    }
}
.promo-title {
    
}
.promo__body {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 0 15px rgba($color: #ccc, $alpha: 1.0);
    margin: 20px auto 0;

    @include minLG {
        max-width: 946px;
        flex-direction: row;
        justify-content: space-between;
        
    }
    @include minVal(1140px) {
        margin: 50px auto 0;
    }
}
.promo__img {
    width: 100%;
    height: 83vw;
    max-width: 457px;
    max-height: 384px;
}
.promo__container {
    margin-top: 20px;
    width: 100%;
    max-width: 457px;
    padding: 10px;
}
.promo__item {
    position: relative;
    padding: 5px 5px 10px 35px;
    margin-bottom: 5px;
    span {
        position: absolute;
        width: 27px;
        height: 27px;
        left: 0;
        top: 0;
        border-radius: 50%;
        border: 2px solid $orange;
        color: $orange;
        font-size: 16px;
    }
    h3 {
        @include font($fontInter, 500);
        @include font-size(1.1, 12);
        max-width: 90%;
        max-height: 2rem;
    }
    p {
        @include font($fontInter, 400);
        @include font-size(0.8, 8);
        max-width: 80%;
        max-height: 3rem;
    }
}
