.services {
    width: 100%;
    max-width: $maxWidthWindow;
    margin: 0 auto;
    background: $background;
    @include minMD {
        background: url(/images/services-bg.png) bottom/contain no-repeat, $background;
    }
    
}
.services__wrapper {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 30px 10px ;
}

.services-title {

}
.services__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0 10px;
    margin: 20px auto 0;
    @include minMD {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    @include minVal(1140px) {
        margin: 50px auto 0;
    }
    @include minVal(1150px) {
        justify-content: space-between;
    }
}
.services__item {
    max-width: 450px;
    margin-bottom: 20px;
    @include minMD {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 262px;
        height: 360px;
        padding: 15px;
        box-shadow: 0 0 15px rgba($color: #ccc, $alpha: 1.0) ;
        margin-bottom: 0;
        background: #fff;
    }
}
.services__item--img {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
}
.services__item--title {
    @include font($fontInter, 500);
    @include font-size(1.1, 12);
    max-width: 80%;
    max-height: 3rem;
    margin: 0 auto;
    text-align: center
}
.services__item--caption {
    @include font($fontInter, 400);
    @include font-size(0.8, 8);
    max-width: 80%;
    max-height: 120px;
    margin: 0 auto;
    text-align: justify;
}